<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="carrito-section">
        <h1>Carrito de Compras</h1>
        <div class="carrito-items" id="items">
          <div class="item">
            <div class="producto">
              <h2>Producto 1</h2>
              <p>Precio: $10.00</p>
              <button
                class="add-to-cart"
                onclick="agregarCarrito('Producto 1', 10.00)"
              >
                Agregar al carrito
              </button>
            </div>
          </div>

          <div class="item">
            <div class="producto">
              <h2>Producto 2</h2>
              <p>Precio: $15.00</p>
              <button
                class="add-to-cart"
                onclick="agregarCarrito('Producto 2', 15.00)"
              >
                Agregar al carrito
              </button>
            </div>
          </div>

          <div class="item">
            <div class="producto">
              <h2>Producto 3</h2>
              <p>Precio: $5.00</p>
              <button
                class="add-to-cart"
                onclick="agregarCarrito('Producto 3', 5.00)"
              >
                Agregar al carrito
              </button>
            </div>
          </div>

          <h2 class="total-caja">Total: $<span id="total">30.00</span></h2>
          <h3 style="text-align: right">Continuar con la compra</h3>
        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
