<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
        <div class="carrito-section">
            <h1>  Crear Producto Nuevo </h1>
            <div>
                <form action="/admin/create" method="post" enctype="multipart/form-data">
                    <input type="text" name="name" placeholder="Titulo">
                    <input type="text" name="category_id" placeholder="Categoria">
                    <input type="text" name="description" placeholder="Descripcion">
                    <input type="number" name="price" placeholder="Precio">
                    <input type="file" name="image">
                    
                    <button type="submit">Crear</button>
                </form>   
            </div>
        </div>
    </main>

    <%- include("../partials/footer") %>
</body>

</html>