<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PandaFood🐼</title>
   <link rel="stylesheet" href="/css/base.css" />
   <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <header class="header">
    <div class="logo">
      <a
        class="logo_i"
        href="/"
        aria-label="Panda Food, Click to go home."
      ></a>
    </div>
    <div class="header_nav">
      <nav class="menu">
        <ul>
          <li><a href="/login">Login</a></li>
          <li><a href="/registro">Registro</a></li>
          <li><a href="/carrito">Carrito</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    </div>

    <div class="search">
      <input type="text" placeholder="Buscar..." />
    </div>
  </header>
  <h1>Carrito de Compras</h1>
  <div style="text-align: center;"; id="items">
    <div class="item">
      <h2>Producto 1</h2>
      <p>Precio: $10.00</p>
      <button class="add-to-cart" onclick="agregarCarrito('Producto 1', 10.00)">Agregar al carrito</button>
    </div>
    <div class="item">
      <h2>Producto 2</h2>
      <p>Precio: $15.00</p>
      <button class="add-to-cart" onclick="agregarCarrito('Producto 2', 15.00)">Agregar al carrito</button>
      <div class="item">
      <h2>Producto 3</h2>
      <p>Precio: $5.00</p>
      <button class="add-to-cart" onclick="agregarCarrito('Producto 2', 15.00)">Agregar al carrito</button>
    </div>
  <h2>Total: $<span id="total">25.00</span></h2>
  <h3 style="text-align: right;">Continuar con la compra</h3>
  </script>
  <footer>
  <div class="izquierda">
  <img src="/img/logo-PandaFood.svg" alt="logo" class="logo">
  </div>
  <div class="centro">
    <ul class="menu">
      <li><a href="">Tu perfil</a></li>
      <li><a href="">Preguntas frecuentes</a></li>
      <li><a href="">Locales</a></li>
      <li><a href="">Reclamos</a></li>
    </ul>
    </div>
    <div class="copyright">
      © 2023 Panda Food - Todos los derechos reservados
    </div>
</footer>  
</body>
</html>
