<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PandaFood🐼</title>

    <link rel="stylesheet" href="/css/style.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
</head>
<body>
    <header class="header">
        <div class="logo">Mi Logo</div>
        <div class="search">
            <input type="text" placeholder="Buscar...">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Registro</a></li>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>


</body>
<script src="https://kit.fontawesome.com/32e1b61c65.js" crossorigin="anonymous"></script>
</html>