<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PandaFood🐼</title>

    <link rel="stylesheet" href="/css/style.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
</head>
<body>
   <header>
    <header class="header__container">
        <div class="header__container__logo">
            <a href="/"
                ><img
                    class="header__logo"
                    src="img/logo.jpeg"
                    alt="logo PandaFood🐼"
            /></a>
        </div>
        <div class="header__container__search">
            <form action="submit" class="header__search" data-search>
                <input
                    class="header__search__input"
                    type="text"
                    data-searchinput
                />
                <button type="submit" class="header__search__btn">
                    <i class="fa fa-search"> </i>
                </button>
            </form>
        </div>
        <div class="header_container_nav">
            <ul>
                <li><a href="/registro">Registro<i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Login<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/carrito">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>
    </header>
   </header>
    <main>

    </main>
    <footer>

    </footer>


</body>
<script src="https://kit.fontawesome.com/32e1b61c65.js" crossorigin="anonymous"></script>
</html>