<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:wght@400;500;700&family=Nanum+Gothic+Coding:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a
          class="logo_i"
          href="/"
          aria-label="Panda Food, Click to go home."
        ></a>
      </div>
      <div class="header_nav">
        <nav class="menu">
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/registro">Registro</a></li>
            <li><a href="/carrito">Carrito</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </div>

      <div class="search">
        <input type="text" placeholder="Buscar..." />
      </div>
    </header>
    <main>
      <div class="contenedor-login">
        <div class="contenedor-login-titulo">
        </div>
      </div>
      <div class="container">
        <h2>Iniciar Sesión</h2>
        <div class="redes-login">
            <button class="google">Iniciar sesión con Google</button>
            <button class="facebook">Iniciar sesión con Facebook</button>
        </div>
        <form>
          <label for="username">o utilizando tu email:</label>
          <input type="text" id="username" name="username" placeholder="ejemplo@email.com" required>

          <label for="password"></label>
          <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
          <div class="recordar-contraseña">
              <input type="checkbox" id="remember" name="remember">
              <label for="remember">Recordar contraseña</label>
          </div>

          <button type="submit">Ingresar</button>
      </form>
      <div class="olvidaste-contraseña">
        <a href="#">¿Olvidaste tu contraseña?</a>
    </div>

    <div class="signup">
        <p>¿No tienes cuenta? <a href="#">Regístrate</a></p>
    </div>
</div>

    </main>
    <footer>
      <div class="izquierda">
    <img src="/img/logo-PandaFood.svg" alt="logo" class="logo">
    </div>
    <div class="centro">
      <ul class="menu">
        <li><a href="">Tu perfil</a></li>
        <li><a href="">Preguntas frecuentes</a></li>
        <li><a href="">Locales</a></li>
        <li><a href="">Reclamos</a></li>
      </ul>
      </div>
      <div class="copyright">
        © 2023 Panda Food - Todos los derechos reservados
      </div>
    
      
    </footer>
  </body>
  <script
    src="https://kit.fontawesome.com/32e1b61c65.js"
    crossorigin="anonymous"
  ></script>
</html>
