<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PandaFood🐼</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:wght@400;500;700&family=Nanum+Gothic+Coding:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a
          class="logo_i"
          href="/"
          aria-label="Panda Food, Click to go home."
        ></a>
      </div>
      <div class="header_nav">
        <nav class="menu">
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/registro">Registro</a></li>
            <li><a href="/carrito">Carrito</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </div>

      <div class="search">
        <input type="text" placeholder="Buscar..." />
      </div>
    </header>
    <main>
      <div class="contenedor-registro">
        <div class="contenedor-registro-titulo">
          <h1>registro</h1>
        </div>
      </div>
    </main>
    <section class="registro-contenedor">
      <form action="" class="fomulario">
        <label class="label-registro" for="nombreCompleto">Nombre y Apellido </label>
        <input class="input-registro" type="text">
        <label class="label-registro" for="mail">Mail</label>
        <input class="input-registro" type="email">
        <label class="label-registro" for="contraseña">Contraseña</label>
        <input class="input-registro" type="password">
      
          <input class="checkbox" type="checkbox"name="recordar" value="">
          <label class="check" for="check">Recordar</label>
        
        <button class="enviar" type="submit">Enviar</button>
        <h5>¿Ya tienes una cuenta? <a href="/login"><u>Ingresar</u></a></h5>
      </form>
      
    </section>
    <footer></footer>
  </body>
  <script
    src="https://kit.fontawesome.com/32e1b61c65.js"
    crossorigin="anonymous"
  ></script>
</html>
