.contenedor-detalle{
  
    margin: 0 auto;
    padding: 25px 5px 25px 5px;
    
    }
.main{
    display: flex;
}

.a{
   width: 60%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
}

.a img{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
 
}



    .producto-detalle {
      width: 60%;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column; 
        align-items: flex-start;  
        max-width: 800px;
        margin: 0 auto;
    }
    
    .producto-info {
        flex: 1;
        padding-right: 20px;
        align-items: center; 
    }
    .producto-imagen{
        max-width: 100%;
    }
    
    .nombre{
        font-size: 50px;
    }
    .descripcion{
        font-size: 25px;
    }
    .producto-detalle h2 {
        margin: 10px 0;
    }
    
    .producto-detalle p {
        margin: 0 0 10px;
    }
    
    .precio {
        font-size: 35px;
        font-weight: bold;
        color: #f39c12;
    }
    
    .rating {
        color: #f1c40f;
        margin: 10px 0;
    }
    
 
    
    .carrito, .reseñas, .home{
        display: inline-block;
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 10px 20px;
        transition: background-color 0.3s all;
    }
    
    .carrito:hover, .reseñas:hover, .home:hover {
        background-color: #2980b9;
    }
    
    .producto-imagen {
        max-width: 300px;
        height: auto;
    }


    @media (max-width: 400px) {
        .main {
          flex-direction: column;
        }