.header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: var(--rojo);
  color: #eeeee6;
  justify-content: space-between;
  position: fixed;
  width: 100%; 
  top: 0;
  z-index: 1000; 
}
.logo {
  display: flex;
  flex: 1; 
}

.search {
  display: flex;
  flex: 1; 
  padding: 0 20px; 
}


.logo_i {
  background-image: url("/img/logo1.svg");
  text-indent: 100%;
  white-space: nowrap;
  filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.2));
  z-index: 10;
  background-size: 130px 130px;
  position: absolute;
  top: -6px;
  left: 30px;
  height: 130px;
  overflow: visible;
  width: 130px;
}

.search input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.menu {
  flex: 1;
  text-align: right;
  padding-right: 20px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-left: 15px;
}

.menu li:first-child {
  margin-left: 0;
}

.menu a {
  
  display: block;
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  line-height: 70px;
  padding: 0 23px;
  font-size: 18px ;
  font-family: "Montserrat";
}
.menu a::before{
  content: "";
position: absolute;
top: 50%;
left: 100%;
transform: translate(-50%,-50%);
height: 16px;
width: 2px;
background: #000;  
}

.menu a:hover {
  text-decoration: underline;
}


.menu-m {
  display: none; 
}

.menu-icon {
  width: 30px;
  height: 30px;
  background-color: var(--rojo);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0; 
  margin-right: 10px; 
  margin-top: 10px; 
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}


.search {
  margin-right: 40px; 
}


@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  .menu-m:checked + .menu-icon + .header_nav .menu {
    display: block; 
  }

  .menu {
    display: none;
    background-color: var(--rojo); 
    z-index: 1;
    position: absolute;
    top: 50px; 
    right: 0; 
  }

  .logo {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    display: block;
    margin: 10px 0;
  }

  .menu a {
    display: block;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.5;
  }
 
}
