.contenedor-home{
  
margin: 0 auto;
padding: 105px 5px 130px 5px;

}
.contenedor-home-oferta{
    background-image: url("/img/banners/banner1.jpg");
    width: 100%;
    height: 169px;
    background-repeat: none;
    background-size:contain;
    display:flex;
    flex-direction: column;
}
.oferta-div h2, .oferta-div h3{
    padding-left: 50px;
    font-family: "Montserrat";
    color: #eeeee6;
    margin: 0 auto;
}
.contenedor-home-productos{
padding-left: 40px;
display: flex;
}
.contedor-home-productos-producto{
    display:flex;
    border: 1px solid #000;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    margin: 10px;
}
.producto-imagen{
    padding: 10px;
}