.contenedor-login{
  
    margin: 0 auto;
    padding: 25px 5px 130px 5px;
    
    }

  .container{
    width: 380px;
    margin: 0px auto 80px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);


  }  

  h2{
    text-align: center;
    margin-bottom: 20px;
  }

  form{
    display: flex;
    flex-direction: column;
  }

  label{
    align-self: center;
    margin-bottom: 5px;

  }

  input{
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button{
    background-color:#d1282e; 
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }


.recordar-contraseña{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recordar-contraseña label{
  margin-left: 5px;
  font-size: 14px;
}


.redes-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

}

button.google, button.facebook {
  margin-bottom: 10px; 
}

.olvidaste-contraseña {
  text-align: center;
  margin-bottom: 10px;
}

.signup {
  text-align: center;
}
