<footer>
  <div class="izquierda">
    <img src="/img/logo-PandaFood.svg" alt="logo" class="logof" />
  </div>
  <div class="centro">
    <ul class="menuf">
      <li><a href="">Tu perfil</a></li>
      <li><a href="">Preguntas frecuentes</a></li>
      <li><a href="">Locales</a></li>
      <li><a href="">Reclamos</a></li>
    </ul>
  </div>
  <div class="copyrightf">
    © 2023 Panda Food - Todos los derechos reservados
  </div>
</footer>
