<header class="header">
  <div class="logo">
    <a class="logo_i" href="/" aria-label="Panda Food, Click to go home."></a>
  </div>
  <div class="user-info">
    <% if (user ) { %>
    <p>Bienvenido, <%= user.firstName %> <%= user.lastName %> <% } %> </p>
  </div>
  <input type="checkbox" class="menu-m" id="menu-m" />
  <label for="menu-m" class="menu-icon"></label>
  <div class="header_nav">
    <nav class="menu">
      <ul>
        <% if (user ) { %>
        <li><a href="/users/logout">Cerrar sesión</a></li>
        <% } %> 
        <% if (!user) { %>
        <li><a href="/login">Iniciar sesión</a></li>
        <li><a href="/registro">Registro</a></li>
        
        <% } %>
        <li><a href="/">Menu</a></li>
        <% if (user ) { %>
          <li><a href="/carrito">Carrito</a></li>
          <% } %> 
        
        <% if (user && (user.role_id === 2)) { %>
        <li><a href="/admin/listProducts">Adm Menus</a></li>
        <% } %>
      </ul>
    </nav>
  </div>

  <div class="search">
    <input type="text" placeholder="Buscar..." />
  </div>
</header>
