<header class="header">
  <div class="logo">
    <a
      class="logo_i"
      href="/"
      aria-label="Panda Food, Click to go home."
    ></a>
  </div>
  <div class="user-info">
    <% if (user ) { %>
      <span>Bienvenido, <%= user.firstName %> <%= user.lastName %></span>
      <a href="/users/logout">Cerrar sesión</a>
    <% }else { %>
      <a href="/login">Iniciar sesión</a>
    <% } %>
  </div>
  <input type="checkbox" class="menu-m" id="menu-m">
  <label for="menu-m" class="menu-icon"></label>
  <div class="header_nav">
    <nav class="menu">
      <ul>
        <li><a href="/login">Perfil</a></li>
        <li><a href="/registro">Registro</a></li>
        <li><a href="/carrito">Carrito</a></li>
        <li><a href="/edit/1">Editar</a></li> 
        <!-- //ejemplo "/edit/1" para el sprint 4 poner "/edit/:id" -->
        <li><a href="/create">Crear</a></li>
      </ul>
    </nav>
  </div>

  <div class="search">
    <input type="text" placeholder="Buscar..." />
  </div>
</header>