<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="contenedor-registro">
        <div class="container-r">
          <h2>Crear Nuevo Usuario</h2>
          <form action="/users/crateuser" method="post" enctype="multipart/form-data">
            <label for="firstName">Nombre:</label>
            <input type="text" id="firstName" name="firstName" placeholder="Nombre" required>
            
            <label for="lastName">Apellido:</label>
            <input type="text" id="lastName" name="lastName" placeholder="Apellido" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="ejemplo@email.com" required>
          
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
          
            <label for="image">Imagen de perfil:</label>
            <input type="file" id="image" name="image">
          
            <button type="submit">Crear</button>
          </form>
        </div>
      </div>
    </main>
    
    <%- include("../partials/footer") %>
  </body>
  <script
    src="https://kit.fontawesome.com/32e1b61c65.js"
    crossorigin="anonymous"
  ></script>
</html>
