<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="contenedor-registro">
        <div class="container-r">
          <h2>Registro</h2>
          <div class="redes-registro">
            <button class="google">Registrarse con Google</button>
            <button class="facebook">Registrarse con Facebook</button>
          </div>
          <form>
            <label for="nombreCompleto">Nombre y Apellido:</label>
            <input type="text" id="nombreCompleto" name="nombreCompleto" placeholder="Nombre Apellido" required>
            
            <label for="mail">Mail:</label>
            <input type="email" id="mail" name="mail" placeholder="ejemplo@email.com" required>
            
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" name="contraseña" placeholder="Ingrese su contraseña" required>
            
            <div class="recordar-contraseña">
              <input type="checkbox" id="recordar" name="recordar">
              <label for="recordar">Recordar contraseña</label>
            </div>
            
            <button type="submit">Registrarse</button>
          </form>
          
          <div class="olvidaste-contraseña">
            <a href="#">¿Olvidaste tu contraseña?</a>
          </div>
          
          <div class="signup">
            <p>¿Ya tienes cuenta? <a href="/login">Ingresar</a></p>
          </div>
        </div>
      </div>
      
    </main>
    
    <%- include("../partials/footer") %>
  </body>
  <script
    src="https://kit.fontawesome.com/32e1b61c65.js"
    crossorigin="anonymous"
  ></script>
</html>
